/* TODO Add site wide styles */
body{
    background-image: url(././backgrounds/backg1.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}