.imageUpload{
    display: grid;
    grid-template-areas: 
                    "uppercenter uppercenter uppercenter"
                    "art art art"
                    "art art art"
                    "art art art";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    gap: 5px;
    background-color: white;
}

.imageUpload > .cardName{
    grid-area: uppercenter;
    text-align: center;
}

.imageUpload > .art{
    grid-area: art;
    margin-left: 5%;
    margin-right: 5%;
}

.imageUpload > .card_text_slot_1,
.imageUpload > .card_text_slot_2,
.imageUpload > .card_text_slot_3,
.imageUpload > .card_text_slot_4,
.imageUpload > .card_text_slot_5{
    display: none;
}