.homepage-container{
    display: flex;
    /* background-color: red; */
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.homeInfoBox{
    background-color: grey;
    padding: 50px;
    border: 5px outset
}