#editDeckName{
    width: 90%;
}

#editDeckName{
    font-size: xx-large;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    resize: vertical;
    background-color: whitesmoke;
}
.saveAndDelete{
    width: 100%;
    display: flex;
}

#saveButton{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: green;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
}

#deleteButton{
    width: 50%;
    background-color: red;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 50px;
}