.deckDiv{
    display: grid;
    grid-template: "pic desc desc"
                    "pic desc desc"
                    "rules rules rules";
}

.gameArt{
    display: flex;
    border: 2px solid black;
    grid-area: pic;
    min-height: 200px;
}

.gameDesc{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    grid-area: desc;
    align-self: center;
}

.gameRules{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    grid-area: rules;
    min-height: 150px;
}

.cardsDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}